{% extends 'movies/base.html' %}

{% block body %}
    <h2> {{ movie.title}} </h2>

    <p> 장르 : {{ movie.genre.name }} </p>
    <p> 누적관객수 : {{ movie.audience }}</p>
    <p><img src="{{ movie.poster_url }}" alt="{{ movie.title }}" width= 400></p>
    <p><a href="{% url 'movies:like' movie.pk %}">
        {% if user in movie.like_movie_users.all %}
            <input type="submit" value='좋아요 취소'>
        {% else %}
            <input type="submit" value='좋아요'>
        {% endif %}
    </a></p>
    <p> {{ movie.like_movie_users.all | length }} 명이 이 영화를 좋아합니다.</p>
    <p> 영화 소개 : {{ movie.description }}</p>
    <hr>
    <b><p>리뷰</p></b>
    {% for review in reviews %}
        <p> 한줄평 : {{ review.content }} </p>
        <p> 평점 : {{ review.score }} </p>
        <form action="{% url 'movies:review_delete' movie.pk review.pk %}" value="리뷰삭제">
            {% csrf_token%}
            <input type="submit" value='댓글 삭제'>
        </form>
    {% endfor %}

    <hr>
    <form action="{% url 'movies:review_create' movie.pk %}" method="POST">
        {% csrf_token %}
        {{ review_form.as_p }}
        <input type="submit" value="리뷰 작성">
    </form>
    
{% endblock %}